<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Home Page {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <style>
        .button {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
            width: 150px;
            text-align: center;
            font-size: 28px;
        }

        .button:hover {
            background-color: #008CBA;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        {% block content %}
        <div class="text-center">
            <br />
            {% load staticfiles %}
            <img src="{% static 'images/homepage.jpg' %}" width="400px">
            <h1>Welcome to HelloCook!</h1>
            <br />
            <h3>This is a place for cooking enthusiasts </h3>
            <br />
            <br />
                <br />
                <a href="{% url 'article:article_titles' %}">
                    <button class="button" style="vertical-align:middle">
                        Start
                    </button>
                </a>

        </div>
        {% endblock %}
    </div>

    {% include "footer.html" %}
</body>

</html>