{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}
{% block content %}

<style>
    .button {
        background-color: white;
        color: black;
        border: 0.5px solid #008CBA;
        width: 100%;
        text-align: center;
        font-size: 28px;
    }

    .button:hover {
        background-color: #008CBA;
        color: white;
    }
</style>

<div class="row text-center vertical-middle-sm">
    <h2>Enjoy cooking, enjoy life!</h2>
    <h4>We have {% total_articles %} articles for you.</h4>
</div>
<br>
<br>
<div class="container">
    {% for article in articles %}
    <div class="list-group">

        <a href="{{article.get_url_path}}" class="list-group-item active">
            <button class="button" style="vertical-align:middle">
                {{article.title}}
            </button>
        </a>
        <h4 class="list-group-item-text">Author: <a
                href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a></h4>

        <p class="list-group-item-text">Abstract: {{article.abstract}}</p>
        <br>

    </div>
    {% endfor %}
    {% include "paginator.html" %}
</div>
{% endblock %}