{% extends "base.html" %}
{% load article_tags %}
{% load staticfiles %}
{% block title %} articles content {% endblock %}
{% block content %}

{% with total_likes=article.users_like.count users_like=article.users_like.all %}

<div class="container">
    <div class="col-md-9">
        <header>
            <h1>{{ article.title }}</h1>
            <p>
                <a href="{% url 'article:author_articles' article.author.username %}">{{ article.author.username }}</a>
                <span style="margin-left:20px" class="glyphicon glyphicon-thumbs-up">{{ total_likes }}like{{ total_likes|pluralize }}</span>
                {% comment %} <span style="margin-left:20px">{% article_total_views article.id %} views</span> {% endcomment %}
            </p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}" />
        <div id='editormd-view'>
            <textarea id="append-test" style="display:none;">
{{ article.body }}
        </textarea>
        </div>
        <div>
            <p class="text-center">
                <a onclick="like_article({{article.id}}, 'like')" href="#">
                    <span class="glyphicon glyphicon-thumbs-up">like</span>
                </a>
                <a onclick="like_article({{article.id}}, 'unlike')" href="#">
                    <span style="margin-left: 15px;" class="glyphicon glyphicon-thumbs-down" >unlike</span>
                </a>
            </p>
        </div>
        <br>
        <div>
            <p class="text-center"><strong>Who like this article</strong></p>
            {% for user in article.users_like.all %}
            <p class="text-center">{{user.username}}</p>
            {% empty %}
            <p class="text-center">Be the first to like this article</p>
            {% endfor %}
        </div>
        <div>
            <h3><span class="glyphicon glyphicon-bullhorn"></span>This article has {{ comments.count }} comments:</h3>
            {% for comment in article.comments.all %}
            <div>
                <p><strong>{{ comment.commentator }}</strong>说:</p>
                <p style="margin-left:40px;">{{ comment.body }}</p>
            </div>
            {% empty %}
            <p>Be the first to comment!</p>
            {% endfor %}

            <br>
            <h3><span class="glyphicon glyphicon-send"></span>Leave your comment.</h3>
            <form action="." method="post" class="form-horizontal" role="form">{% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        {{ comment_form.commentator}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Content</label>
                    <div class="col-sm-10">
                        {{ comment_form.body }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p><input type="submit" name="" value=" 发 评 论 " class="btn btn-primary"></p>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="col-md-3">
        <p class="text-center">
            <h3>Most liked articles</h3>
        </p>
        {% most_liked_articles 3 %}
        <hr>

        <p class="text-center">
            <h3>Latest Articles</h3>
        </p>
        {% latest_articles 3 %}
        <hr>

         <p class="text-center">
        <h3>Most commented articles.</h3></p>
        {% most_commented_articles as most_comments %}
        <ul>
            {% for comment_article in most_comments %}
            <li>
                <a href="{{comment_article.get_url_path}}">{{ comment_article.title }}</a>
            </li>
            {% endfor %}
        </ul>
        
    </div>
</div>

<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>
<script type="text/javascript" src="{% static 'js/layer.js'%}"></script>
<script type="text/javascript">

    $(function () {
        editormd.markdownToHTML("editormd-view", {
            htmlDecode: "style, script, iframe",
            emoji: true,
            taskList: true,
            tex: true,
            flowChart: true,
            sequenceDiagram: true,
        });
    });

    function like_article(id, action) {
        $.ajax({
            url: "{% url 'article:like_article' %}",
            type: "POST",
            data: {
                "id": id,
                "action": action
            },
            success: function (e) {
                if (e == "1") {
                    layer.msg("Thanks for your like.");
                    window.location.reload();
                } else {
                    layer.msg("I'll keep working on it.");
                    window.location.reload();
                }
            },
        });
    }

</script>

{% endwith %}
{% endblock %}