{% extends "base.html" %}
{% load article_tags %}
{% load staticfiles %}
{% block title %}articles{% endblock %}
{% block content %}

<style>
    .button {
        background-color: white;
        color: black;
        border: 0.1px #008CBA;
        width: 100%;
        text-align: center;
        font-size: 28px;
    }

    .button:hover {
        background-color: #008CBA;
        color: white;
    }
</style>

<div class="row text-center vertical-middle-sm">
    <h2>Enjoy cooking, enjoy life!</h2>
</div>
<br>
<br>

<div class="container">
    <div class="col-md-8">
        {% for article in articles %}
        <div class="list-group">

            <a href="{{article.get_url_path}}" class="list-group-item active">
                <button class="button" style="vertical-align:middle">
                    {{article.title}}
                </button>
            </a>
            {% comment %} <h4 class="list-group-item-text">Author: <a
                    href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a>
            </h4> {% endcomment %}

            <h4 class="list-group-item-text">Abstract: {{article.abstract}}</h4>
            <br>

        </div>
        {% endfor %}
        {% include "paginator.html" %}
    </div>

    <div class="col-md-4">
        <div>
            {% if userinfo.photo %}
            <img src="{{ userinfo.photo | striptags }}" class="img-circle" id="my_photo" name="user_face"
                style="width: 300px">
            {% else %}
            <img name="user_face" src="{% static 'images/img1.jpg' %}" class="img-circle" id="my_photo"
                style="width: 300px">
            {% endif %}
        </div>
        <br>
        <div>
            <p>{{ user.username }}</p>
            <p>{% author_total_articles user %} articles published</p>
            {% if userinfo %}
            <p>{{ userinfo.company }}</p>
            <p>{{ userinfo.aboutme }}</p>
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}